@font-face {
	font-family: futura;
	font-display: swap;
	src: url("../fonts/futura-pt-book-oblique.woff") format("woff"), url("../fonts/futura-pt-book-oblique.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	}
@font-face {
	font-family: futura;
	font-display: swap;
	src: url("../fonts/futura-pt-book.woff") format("woff"), url("../fonts/futura-pt-book.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: futura;
	font-display: swap;
	src: url("../fonts/futura-pt-heavy.woff") format("woff"), url("../fonts/futura-pt-heavy.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	}
@font-face {
	font-family: futura;
	font-display: swap;
	src: url("../fonts/futura-pt-light-oblique.woff") format("woff"), url("../fonts/futura-pt-light-oblique.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	}
@font-face {
	font-family: futura;
	font-display: swap;
	src: url("../fonts/futura-pt-light.woff") format("woff"), url("../fonts/futura-pt-light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	}
@font-face {
	font-family: futura;
	font-display: swap;
	src: url("../fonts/futura-pt-medium.woff") format("woff"), url("../fonts/futura-pt-medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	}
